<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .flash-message {
           color: red;
         }
    </style>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <p>Your email is {{ email }} and your account number is {{ account_number }}.</p>
    <ul>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/modify">Modify Account</a></li>
        <li><a href="/logout">Logout</a></li>
        {% for message in get_flashed_messages() %}
            <p class="flash-message">{{ message }}</p>
        {% endfor %}
    </ul>
</body>
</html>