<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .flash-message {
           color: red;
         }
    </style>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="pin">PIN:</label><br>
        <input type="number" id="pin" name="pin" required><br>
        <input type="submit" value="Register">
    </form>
    {% for message in get_flashed_messages() %}
            <p class="flash-message">{{ message }}</p>
        {% endfor %}
    <p>Already have an account? <a href="/login">Login here</a>.</p>
</body>
</html>